* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    position: relative;
    background: #f0f0f0;
    font-family: 'roboto', sans-serif;
}

.search-box {
    width: 100%;
    margin-top: 0vh;
    background-color: #f0f0f0;
    position: fixed;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 300;
}

.b-search {
    width: 70%;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #d8d8d8;
    border: 2px solid #d8d8d8;
}

.icon-1 {
    display: flex;
    height: 80%;
    margin-right: 20px;
    cursor: pointer;
}

.video-container {
    padding-top: 30px;
    width: 100%;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
}

.button-s img {
    height: 20px;
    width: 20px;
}

.back-state {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

.button-s {
    margin-left: 10px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #d8d8d8;
    border: 2px solid #d8d8d8;
    cursor: pointer;
}

.video {
    height: 50px;
    width: 100%;
    display: grid;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 22;
    grid-template-columns: 30px 200px 30px 50px;
    grid-template-areas: 
    "a b b b b  c c  d d"
    ;

}
/* <div class="video" onclick="location.href = 'https://youtube.com/watch?v=${data.id}'">
<img src="img/history.png" class="" alt="">
<div class="content">
    <div class="info">
        <h4 class="title">${data.snippet.title}</h4>
    </div>
    <div class="eMp">
    <img src="${data.snippet.thumbnails.high.url}" class="thumbnail" alt="">
    </div>
</div>
<img src="img/flecha.png" class="icon-2" alt=""> */
.h-video{
    grid-area:a ;
}
.thumbnail {

    width: 40px;
    height: 40px;

}
.eMp{
    padding-left: 40px;
    grid-area: c;
    margin-right: -200px;

}
.info{
    grid-area: b;
}


.content {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    display: grid;
    place-content: center;
}

.icon-2 {
    height: 20px;
    width: 20px;
    z-index: 200;
}

.ePm{
    margin-left:100px;
    grid-area: d;
}
